.Container_Global{
    background-image: url("../../assets/Images/background.jpg");
    background-size:230vh;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}

p{
    color: white;
}