<div class="navbar">
    <div class="nav-left">
      <div class="navbar-item">
        <img src="../../assets/Images/logo.png" class="logo">
      </div>
    </div>
    <div class="nav-right">
      <div class="navbar-item"><a routerLink="/AddEx">AJOUTER</a></div>
      <div class="navbar-item"><a routerLink="/DeleteEx">SUPPRIMER</a></div>
      <div class="navbar-item"><a routerLink="/UpdateEx">MODIFIER</a></div>
      <div class="navbar-item"><a routerLink="/home">Passer en mode User</a></div>
    </div>
  </div> 
