<app-admin-nav></app-admin-nav>

<div class="all_page">
    <div class="Container_Block">
        <div class="Radio">
            <div class="radio_item">
                <input type="radio" id="option1" name="choices" [(ngModel)]="selectedFrom" value="exercice">
                <label for="option1">Exercice</label>
            </div>

            <div class="radio_item">
                <input type="radio" id="option1" name="choices"  [(ngModel)]="selectedFrom" value="muscle">
                <label for="option1">Muscle</label>
            </div>
        </div>
        <div class="Formulaire">
               <!-- Formulaire ajout muscle -->
            <div *ngIf= "selectedFrom === 'muscle' " class="form">
                <form (ngSubmit)="createMuscle()">
                    <div class="form-group">
                        <label for="Muscle">Nom du muscle</label>
                        <input [(ngModel)]="muscleName" type="text" id="Muscle" name="Muscle"
                            placeholder="Exercice" required>
                    </div>

                    
                    <!-- Bouton pour créer un exercice -->
                    <button class="btn_create_exo" type="submit">Créer Muscle</button>


                </form>
            </div>

            <!-- Formulaire ajout exercice -->

            <div *ngIf= "selectedFrom === 'exercice' " class="form">
                <form (ngSubmit)="createExercice()">
                    <div class="form-group">
                        <label for="Exercice">Exercice :</label>
                        <input [(ngModel)]="newExercice.name" type="text" id="Exercice" name="Exercice"
                            placeholder="Exercice" required>
                    </div>


                    <div class="form-group">
                        <label for="Description">Description :</label>
                        <input [(ngModel)]="newExercice.description" type="text" id="Description" name="Description"
                            placeholder="Description de l'exercice" required>
                    </div>
                    <!-- Bouton pour créer un exercice -->
                    <button class="btn_create_exo" type="submit">Créer Exercice</button>


                </form>
            </div>
            
        </div>
    </div>