.Container_Form_global{
    background-color: #ff6e6c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 10%;
    border-radius: 3vh;
    padding: 5vh;
    color: white;
}

.mainContainer{
    background-image: url("../../assets/Images/background.jpg");
    background-size:230vh;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}

/* CSS */
.form-group {
    margin-bottom: 15px; /* Espacement entre chaque groupe label + input */
}

label {
    display: flex;
    width: 120px; /* Largeur du label (ajustez selon vos besoins) */
}

input[type="text"] {
    width: 30vh; /* Largeur du champ de texte (remplit l'espace restant) */
    border-radius: 2vh;
    border:none;
    padding: 0.5vh;
    padding-left: 1vh;
}

.btn_create_exo{
    background-color: white;
    padding: 2vh;
    border-radius: 1vh;
    border: none;
}


.exercice_card{
    background-color: #ffffff42;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 1vh;
}