<app-admin-nav></app-admin-nav>
<div class="mainContainer">
    <div class="Container_Form_global">
        <div class="Container_Form">
            <div class="exercice_card" *ngFor="let exercice of exercices">
                <form onsubmit="modifierExercice()">
                    <input type="text" name="exercieName" value="{{ exercice.name }}">
                    <textarea name="exercieDesc" value="{{ exercice.desc }}"></textarea>
                    <input type="text" name="exercieName" value="{{ exercice.idMuscle }}" disabled>
                    <select id="muscleList" name="muscleList">
                        <option *ngFor="let muscle of muscles" [value]="muscle.id">
                            {{ muscle.muscleName }}
                        </option>
                    </select>
                    <button type="submit">Modifier</button>
                </form>
                <br>
            </div>
        </div>
    </div>