.Container_Global{
    background-image: url("../../assets/Images/background.jpg");
    background-size:230vh;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}


.Bienvenue_contain{
    /* background-color: brown; */
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Contain_Message{
    /* background-color: blue; */
    height: 50vh;
    width: 70vh;
    margin-left: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Message{
    /* background-color:blueviolet; */
    height: 20vh;
    color: white;
}