<app-admin-nav></app-admin-nav>
<div class="Container_Form_global">
    <div class="Container_Form">
        <div class="form-group">
            <label for="Exercice">Exercice :</label>
            <input type="text" id="Exercice" name="Exercice" placeholder="Exercice" required>
        </div>

        <div class="form-group">
            <label for="Muscle">Muscle :</label>
            <input type="text" id="Muscle" name="Muscle" placeholder="Muscle" required>
        </div>

        <div class="form-group">
            <label for="Description">Description :</label>
            <input type="text" id="Description" name="Description" placeholder="Description de l'exercice" required>
        </div>
        <!-- Bouton pour créer un exercice -->
        <button class="btn_create_exo" type="button">Supprimer Exercice</button>
    </div>
</div>
