<app-admin-nav></app-admin-nav>

<div class="mainContainer">
    <div class="Container_Block">
        <div class="Radio">
            <div class="radio_item">
                <input type="radio" id="option1" name="choices" [(ngModel)]="selectedFrom" value="exercice">
                <label for="option1">Exercice</label>
            </div>

            <div class="radio_item">
                <input type="radio" id="option1" name="choices" [(ngModel)]="selectedFrom" value="muscle">
                <label for="option1">Muscle</label>
            </div>
        </div>
        <div class="Formulaire">
            <!-- Formulaire supp muscle -->
            <div *ngIf="selectedFrom === 'muscle'" class="form">
                <form>
                    <div class="form-group">
                        <div class="contain_input">
                            <div class="input-group">
                                <label for="Muscle">Nom du muscle</label>
                                <select id="muscleList" name="muscleList" (change)="onSelectMuscle($event)">
                                    <option *ngFor="let muscle of muscles" [value]="muscle.id">
                                        {{ muscle.muscleName }}
                                    </option>
                                </select>
                                <button class="btn_create_muscle" (click)="deleteMuscle()" type="button">Supprimer
                                    Muscle</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Formulaire SUPP exercice -->

            <div *ngIf="selectedFrom === 'exercice'" class="form">
                <div *ngIf="selectedFrom === 'exercice'" class="form">
                    <form>
                        <div class="form-group">
                            <label for="Exercice">Exercice :</label>
                            <select id="exerciceList" name="exerciceList" (change)="onSelectExercice($event)">
                                <option *ngFor="let exercice of exercices" [value]="exercice.id">
                                    {{ exercice.name }}
                                </option>
                            </select>
                        </div>

                        <!-- Bouton pour supprimer un exercice -->
                        <button class="btn_create_exo" type="submit" (click)="deleteExercice()">Supprimer</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>